#easy {
    width: 300px;
    height:300px;
    border-radius: 150px;
    border-color: black;
    background-color: pink;
    font-size: 50px;
    color: white; 
    display: block;
    margin: auto;
}