 .ex {
    width: 200px;
    height: 100px;
    alignment-baseline: baseline
}
body {
    text-align: center;
    font-family: "Pacifico";
    background-image: url(https://i.ytimg.com/vi/Jtu-hmUX7RQ/maxresdefault.jpg)
}